<form [formGroup]="form" #vacForm="ngForm" (ngSubmit)="grabar()">

    <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="vacante.nombre" required formControlName="nombre">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Descripición</mat-label>
        <input matInput [(ngModel)]="vacante.descripcion" required formControlName="descripcion">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="categoria" 
         [(ngModel)]="idCategoriaSeleccionada">
        <mat-option value=""></mat-option>
        <mat-option *ngFor="let option of categorias" [value]="option.idCategoria"
                [selected]="idCategoriaSeleccionada === option.idCategoria">
                {{ option.nombre }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Fecha" required [max]="maxFecha" 
        formControlName="fecha"
        [(ngModel)]="fechaSeleccionada">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Salario</mat-label>
        <input matInput [(ngModel)]="vacante.salario" required formControlName="salario">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Destacado</mat-label>
        <input matInput [(ngModel)]="vacante.destacado" required formControlName="destacado">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Imagen</mat-label>
        <input matInput [(ngModel)]="vacante.imagen" required formControlName="imagen">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Detalles</mat-label>
        <textarea matInput [(ngModel)]="vacante.detalles" required formControlName="detalles"></textarea>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Estado</mat-label>
        <input matInput [(ngModel)]="vacante.estado" required formControlName="estado">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="vacForm.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent"  type="button" (click)="cancelar()">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>
</form> 
