<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <button mat-menu-item routerLink="/pages/categorias" style="cursor: pointer">
      <mat-icon>list</mat-icon>
      <span>Categorias</span>
    </button>
    <button mat-menu-item routerLink="/pages/vacantes" style="cursor: pointer">
      <mat-icon>list</mat-icon>
      <span>Vacantes</span>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
