<form [formGroup]="form" #catForm="ngForm" (ngSubmit)="grabar()">

    <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="categoria.nombre" required formControlName="nombre">
        <!--input type="text" formControlName="vRazonSocial"  id="razonSocial" name="razonSocial" 
                      class="form-control form-control-alternative" 
                      [(ngModel)]="empresa.razonSocial" placeholder="Mi Empresa de Transporte"-->
        
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Descripición</mat-label>
        <textarea matInput [(ngModel)]="categoria.descripcion" required formControlName="descripcion"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="catForm.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent"  type="button" (click)="cancelar()">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>
</form> 